*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* color: #222; */
}
html, body{
    height: 100%;
    letter-spacing: -.2px;
}
.wrap{
    max-width: 1060px;
    margin: 0 auto;
    height: 100%;
}
header{
    width: 100%;
    height: 435px;
    background-color: #2b96ed;
    position: relative;
}
header .boxs{
    width: 100%;
    height: 125px;
    border-bottom: 1px solid #1784dc;
    display: inline-block;
}
header .box1{
    position: relative;
    width: 100%;
    height: 55%;
    line-height: 50px;
    margin-top: 10px;
}
header h1{
    width: 128px;
    height: 100%;
    float: left;
    line-height: 50px;
}
header h1 img{
    width: 128px;
    vertical-align: middle;
} 
header .box1 ul{
    float: right;
    list-style: none;
}
header .box1 li{
    display: inline-block;
    color: white;
    margin-left: 30px;
    font-weight: 600;
    font-size: 0.938em;
    cursor: pointer;
}
header .box1 li:nth-child(3){
    height: 36px;
    padding: 0 28px;
    margin-right: 30px;
    border: 1px solid white;
    line-height: 33px;
    font-size: 0.875em;
    border-radius: 3px;
}
header .hams{
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 10px;
    display: none;
    padding: 10px;
}
header .hams div{
    width: 100%;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
}
header .box2{
    width: 100%;
    height: 48%;
    line-height: 43px;
}
header .box2 ul{
    list-style: none;
}
header .box2 li{
    display: inline-block;
    color: white;
    margin-right: 25px;
    font-weight: 600;
 }
header .box2 li.active{
    padding: 0 5px;
    border-bottom: 3px solid white;
}
header .middle_box {
    width: 300px;
    height: 100px;
 }
header .middle_box h2{
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 2.250em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-75%);
}
header .middle_box .box3{
    width: 430px;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,20%);
}
header .middle_box .box3 input{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 20px;
}
header .middle_box .box3 input::placeholder{
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
header .box2 a{
    color: white;
    text-decoration: none;
}
footer .foot{
    width: 100%;
    height: 430px;
    border-top: 0.7px solid rgb(192, 192, 192);
    position: relative;
}
footer .foot .section1{
    width: 100%;
    height: 55%;
    /* background-color: green; */
    padding: 35px 0;
}
footer .foot .section2{
    width: 100%;
    height: 45%;
    /* background-color: greenyellow; */
    border-top: 0.7px solid rgb(192, 192, 192);
}
footer .foot .section1 .box1{
    float: left;
    width: 49%;
    height: 55%;
    color: rgb(102, 109, 117);
}
footer .foot .section1 h3{
    font-size: 0.95rem;
    margin-bottom: 15px;
}
footer .foot .section1 .box1 h2{
    font-size: 1.15rem;
    margin-bottom: 10px;
}
footer .foot .section1 .box1 p.time1{
    margin-bottom: 3px;
    font-size: 0.8rem;
}
footer .foot .section1 .box1 p.time2{
    margin-bottom: 10px;
    font-size: 0.8rem;
}
footer .foot .section1 .box1 .tel_btn{
    width: 110px;
    height: 38px;
    border: 1px solid rgb(211, 211, 211);
    cursor: pointer;
    font-size: 0.89rem;
    font-weight: 600;
    color: #495056;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    margin-top: 22px;
    transition: 0.2s ease;
}
footer .foot .section1 .box1 .tel_btn:hover{
    top:-3px;
    -webkit-box-shadow: 0px 0px 2px 0.3px rgba(204,204,204,0.65);
    -moz-box-shadow: 0px 0px 2px 0.3px rgba(204,204,204,0.65);
    box-shadow: 0px 0px 2px 0.3px rgba(204,204,204,0.65);
}
footer .foot .section1 .box2{
    float: left;
    width: 15%;
    height: 55%;
    color: rgb(102, 109, 117);
    margin-right: 25px;
}
footer .foot .section1 .box3{
    float: left;
    width: 15%;
    height: 55%;
    color: rgb(102, 109, 117);
    margin-right: 23px;
}
footer .foot .section1 .box4{
    float: left;
    width: 15%;
    height: 55%;
    color: rgb(102, 109, 117);
}
footer .foot .section1 p.list{
    margin-bottom: 13px;
    font-size: 0.88rem;
    cursor: pointer;
    transition: 0.2s ease;
}
footer .foot .section1 p.list:hover{
    color: #2b96ed;
}
footer .foot .section2 .box1{
    width: 100%;
    height: 40%;
    display: inline-block;
}
footer .foot .section2 .box1 .policy{
    width: 63%;
    float: left;
}
footer .foot .section2 .box1 .policy ul li{
    display: inline-block;
    list-style: none;
    color: #666d75;
    font-size: 0.88rem;
    cursor: pointer;
    margin-top: 23px;
    margin-right: 15px;
    transition: 0.2s ease;
}
footer .foot .section2 .box1 .policy ul li:hover{
    color: #2b96ed;
}
footer .foot .section2 .box1 .policy ul li:nth-child(2){
    font-weight: 700;
}
footer .foot .section2 .box1 .sns{
    width: 37%;
    float: right;
}
footer .foot .section2 .box1 .sns ul li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 15px;
}
footer .foot .section2 .box1 .sns ul li:nth-child(7){
    margin-right: 0;
}
footer .foot .section2 .box1 .sns ul li img{
    cursor: pointer;
    transition: 0.2s ease;
}
footer .foot .section2 .box1 .sns ul li img:hover{
    opacity: .5;
}
footer .foot .section2 .box1 .sns .line{
    width: 1px;
    height: 20px;
    margin: 0 20px 0 0;
    background-color: #a2a8af;
}
footer .foot .section2 .box1 .sns .lang_btn{
    width: 118px;
    height: 38px;
    font-size: 0.875rem;
    color: #848c94;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    line-height: 35px;
    margin-left: 40px;
    margin-top: 0;
    margin-right: 0;
    transition: inherit;
}
footer .foot .section2 .box1 .sns ul li.lang_btn:hover{
    opacity: inherit;
}
footer .foot .section2 .box2{
    width: 100%;
    height: 60%;
    /* background-color: rgb(164, 124, 201); */
}
footer .foot .section2 .box2 p{
    font-size: 0.75rem;
    margin-bottom: 5px;
    color: #848c94;
}
footer .foot .section2 .box2 p.foot_list{
    margin-top: 20px;
}