header{
    width: 100%;
    height: 350px;
    background-image: url(../img/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
header .boxs{
    border-bottom: 1px solid hsla(0,0%,100%,.3);
}
header .middle_box h2 {
    margin-top: 30px;
}
header .middle_box .box3 {margin-top: 50px;}
.home_banner{width: 1060px; margin: 30px auto; background-repeat: no-repeat; background-size: contain;}
.home_tab{list-style: none; text-align: left; border-bottom: 1px solid #dee2e6;}
.home_tab li{display: inline-block; margin: 20px 15px 0px 0px; padding: 10px 0px;}
.home_tab_active{font-weight: bold; border-bottom: 2px solid #51abf3;}
article{height: 1000px;}
.content,.content2{width: 1065px;min-width: 1024px;margin: 0 auto;text-align: center;}
.content h2,.content2 h2{width: 100%;text-align: left;color: #343a40;font-size: 1.5rem;font-weight: 700;}
.content_wrap{width: 1060px;height: 311px;float: left;/* background: cadetblue; */}
.content_box{width: calc(1000px/4);height: 100%;float: left;margin-right: 5px;border: 1px solid lightgray;margin: 20px 15px 0px 0px;border-radius: 5px;cursor: pointer;/* background: yellow; */}
.content_box:hover{box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);transform: translateY(-5px);transition: 0.3s ease-in-out;}
.content_img{background-image: url(../img/item1.jpg);background-size: cover;background-repeat: no-repeat;width: 100%;height: 166px;border-radius: 5px 5px 0px 0px;}
.content_txt{width: 100%;height: 145px;padding: 15px;border-radius: 0px 0px 5px 5px;padding: 10px 16px 16px;text-align: left;}
