*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* color: #222; */
}
html, body{
    height: 100%;
    letter-spacing: -.2px;
}
.wrap{
    max-width: 1060px;
    margin: 0 auto;
    height: 100%;
}
header{
    width: 100%;
    height: 350px;
    background-image: url(../img/secondbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
header input{
    width: 340px;
    height: 48px;
    margin-left: 20px;
    background-color: rgba(245,246,247,.15);
    border: 0;
    color: #fff;
    border-radius: 4px;
    outline: none;
    padding-left: 20px;
}
header input::placeholder{
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}
header .boxs{
    border-bottom: 1px solid hsla(0,0%,100%,.3)
}
header .box2 li{
    color: rgba(255, 255, 255, 0.7);
}
header .middle_box {
    width: 100%;
    height: 100px;
}
header .middle_box ul{
    width: 86%;
    float: left;
    list-style: none;
    margin-top: 40px;
}
header .middle_box ul li{
    display: inline-block;
    width: 64px;
    height: 20px;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid white;
    line-height: 20px;
    padding-bottom: 28px;
    margin-right: 8px;
    text-align: center;
    font-weight: 700;
}
header .middle_box p{
    display: inline-block;
    width: 14%;
    float: right;
    color: white;
    cursor: pointer;
    line-height: 20px;
    margin-top: 40px;
}
header .third_middle input#btn{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
header .third_middle span{
    color: white;
    font-size: 0.8rem;
}